﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="image-header">
          
        </div>
    </div>
</div>

<div class="row">
   <div class="col-md-4">

   </div>
   <div class="col-md-4">
       <div>
           <form class="input-group" name="myForm">
                   <input type="text" ng-model="cityVar" ng-minlength="2" placeholder="Enter your city name..." class="form-control" required>
                   <span class="input-group-btn">
                       <button class="btn btn-success" type="submit" ng-disabled="myForm.$invalid" ng-click="loadDataByCity(cityVar)">Search!</button>
                   </span>
           </form>
       </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
<br>

<div id="loader-div">
    <img src="~/Content/Images/loader.gif" class="ajax-loader" />
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>{{city}},{{country}}</h2>
            <img style='float:left;width:70px;height:70px; margin-right:20px;' ng-src="{{img}}"><img>
            <h3 id="weather-description">{{weatherDescription}}</h3>
            <p><h4>{{temperature}}°C</h4></p>
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Clouds</td>
                        <td>{{clouds}}</td>
                    </tr>
                    <tr>
                        <td>Wind</td>
                        <td>{{wind}} <b>m/s</b> </td>
                    </tr>
                    <tr>
                        <td>Pressure</td>
                        <td>{{pressure}} <b>hpa</b> </td>
                    </tr>
                    <tr>
                        <td>Visibility</td>
                        <td>{{visibility}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>

    <center><h2>7 days weather forecast for {{city}}</h2></><br>

    <div class="scroll-div">
        <div class="row" ng-repeat="x in data">
            <div class="col-md-3">
        
            </div>
            <div class="col-md-6">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img ng-src="http://openweathermap.org/img/w/{{x.weather[0].icon}}.png"><img>
                                    <h4>{{x.dt * 1000 | date:'fullDate'}}</h4>
                                </div>
                                <h4>{{x.weather[0].description}}</h4>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="https://cdn1.iconfinder.com/data/icons/weather-21/96/Sunrise-512.png" width="50" height="50"><img>
                                            <p>{{x.temp.morn}}°C</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="http://www.myiconfinder.com/uploads/iconsets/3019dd9e6a8f286b88519e832dea53bc-sun.png" width="50" height="50"><img>
                                            <p>{{x.temp.day}}°C</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Weather-Sunset-icon.png" width="50" height="50"><img>
                                            <p>{{x.temp.eve}}°C</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="https://cdn3.iconfinder.com/data/icons/minicons-for-web-sites/24/minicons2-53-512.png" width="50" height="50"><img>
                                            <p>{{x.temp.night}}°C</p>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
        
            </div>
        </div>
    </div>