﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.box_div{
   width:1000px; margin:0 auto 0 auto; text-align:center;
}
.box_div div{
    display:inline-block;
}
.form-control.ng-invalid.ng-touched {
    background-color: #FA787E;
}
.form-control.ng-valid.ng-touched {
    background-color: #78FA89;
}
.wrapper{
    margin-right:-2em;
    margin-left:-2em;
}
.wrapper-last{
    margin-right:9em;
}
#loader-div {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}
.image-header{
     width:100%;
     height:270px;
     background-image: url("http://ichef.bbci.co.uk/news/624/cpsprodpb/106C9/production/_87437276_uk_weather_dec_2015_624.gif");
     background-repeat: repeat-x;
}
#weather-description{
    margin-top: -0.8em;
}
.scroll-div{
    overflow-y: scroll; 
    height:300px;
    overflow-x:hidden;
}
